Options All -Indexes
DirectoryIndex login.php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^([^/.]+)$ $1.php [L]
</IfModule>

<IfModule mod_headers.c>
  Header set Cache-Control "Private"
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault A300
  ExpiresByType text/plain A86400
  ExpiresByType text/html A86400
  ExpiresByType text/css A86400
  ExpiresByType text/javascript A86400
  ExpiresByType image/gif A2592000
  ExpiresByType image/png A2592000
  ExpiresByType image/jpg A2592000
  ExpiresByType image/jpeg A2592000
  ExpiresByType image/ico A2592000
  ExpiresByType font/ttf A2592000
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE font/ttf
</IfModule>